{% extends "base_with_menu.jinja2" %}

{% block content %}
<table class="table">
  <thead>
    <tr>
      <th>Username</th>
      <th>Full name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}

    <tr>
      <td>
        <a title="Edit" href="{{ model_url(user, 'edit') }}">{{ user.model.username }}</a>
      </td>
      <td>{{ user.model.full_name }}</td>
      <td>
        <a title="Remove" href="{{ model_url(user, 'remove') }}"><i class="fa fa-times-circle"></i></a>
      </td>
    </tr>
    {% endfor %}
    <tr>
      <td colspan="4">
        <a class="btn btn-block btn-primary" href="{{ model_url(users, 'add') }}">Add</a>
      </td>
    </tr>
  </tbody>
</table>
{% endblock %}
