{% extends "base_with_menu.jinja2" %}

{% block content %}
<form action="" method="post">
  <button class="btn btn-danger">Remove group {{ context }}</button>
  <a class="btn btn-default" href="{{ model_url(context.__parent__) }}">Cancel</a>
</form>
{% endblock %}
