{% extends "base_with_menu.jinja2" %}

{% block content %}
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      {% for group in groups %}
      <tr>
        <td><a href="{{ model_url(group, 'edit') }}">{{ group.entry.cn|join(',') }}</a></td>
      </tr>
      {% endfor %}
      <tr>
        <td colspan="4">
          <a class="btn btn-block btn-primary" href="add/">Add</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}
