{% extends "base.jinja2" %}
{% from 'form_macro.jinja2' import render_field %}

{% block page_content %}
<div class="row">
  <div class="col-md-6 col-md-offset-2">
    <form action="" method="post">
      {% for field in form %}
        {{ render_field(field) }}
      {% endfor %}
      <button type="submit" class="btn btn-block btn-primary">Login</button>
    </form>
  </div>
</div>
{% endblock %}
